<% const d = new Date()
let year = d.getFullYear() %>

<footer>
  <p class="copyright">&copy; <%= year %> CSE 340 App</p>
  <div class="footer-links">
    <%# This link must match the route in inventoryRoute.js %>
    <a href="/inv/trigger-error">Trigger 500 error (test)</a>
  </div>
</footer>

<script>
    // Hamburger Menu Toggle
    // Seleciona o botão que você adicionou no header.ejs
    const hamButton = document.querySelector('#hamburgerBtn');
    
    // Seleciona o menu que está no seu navigation.ejs
    const navigation = document.querySelector('nav ul'); 

    hamButton.addEventListener('click', (e) => {
        e.preventDefault(); 
        navigation.classList.toggle('open'); 
    });
</script>