<h1 class="welcome-heading">Welcome to CSE Motors!</h1>


<section class="hero-section">
    
    <div class="hero-callout">
        
        <h2>DMC Delorean</h2>
        
        <p>
            3 Cup holders<br>
            Superman doors<br>
            Fuzzy dice!
        </p>
        <a href="#" class="cta-button">Own Today</a>
    </div>
    
   
    <img src="/images/vehicles/delorean.jpg" alt="Clipart drawing of a DMC Delorean car" class="hero-image">
</section>


<div class="home-features">
    <section class="upgrades">
        <h2>Delorean Upgrades</h2>
        
        <div class="upgrade-grid">
            <a href="#" class="upgrade-item">
                <div class="upgrade-icon">
                    
                    <img src="/images/upgrades/flux-cap.png" alt="Flux capacitor icon">
                </div>
                <p>Flux Capacitor</p>
            </a>
            <a href="#" class="upgrade-item">
                <div class="upgrade-icon">
                    
                    <img src="/images/upgrades/flame.jpg" alt="Flame decal icon">
                </div>
                <p>Flame Decals</p>
            </a>
            <a href="#" class="upgrade-item">
                <div class="upgrade-icon">
                    
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper sticker icon">
                </div>
                <p>Bumper Stickers</p>
            </a>
            <a href="#" class="upgrade-item">
                <div class="upgrade-icon">
                    
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub cap icon">
                </div>
                <p>Hub Caps</p>
            </a>
        </div>
    </section>

    <section class="reviews">
        <h2>DMC Delorean Reviews</h2>
        
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </section>
</div>
