

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1><%= title %></h1>
            <h2>Welcome to the Inventory Management page.</h2>
            
            <%- messages() %>

            <p>Use the links below to manage inventory data:</p>
            
            <ul class="list-group">
                <li class="list-group-item"><a href="/inv/add-classification" title="Add New Classification">Add New Classification</a></li>
                <li class="list-group-item"><a href="/inv/add-inventory" title="Add New Inventory Item">Add New Inventory Item</a></li>
            </ul>
        </div>
    </div>
</div>