<%# This file (detail.ejs) is a "child" view. %>
<%# It must NOT contain <html>, <body>, <head>, or <main> tags. %>
<%# It will be injected into the main layout.ejs's <main> tag. %>

<section class="inventory-detail">
  <%# This 'vehicleHTML' variable comes from your controller %>
  <%- vehicleHTML %>
</section>